@page "/form"

<p>This is a form</p>
<input @bind="name" data-qa="form-name"/>
<button @onclick="DoStuff" data-qa="btn-set-name"> Set name as Travolta </button>


@code {
    private string name;

    public void DoStuff()
    {
        name = "John Travolta";
    }
}
